.root { 
    display: flex;
    flex-direction: column;
    gap: 32px;
}
.root p {
    color:  var(--primary-font-color);
}

.item {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

@media (max-width: 1440px) {

  
  }
  
  @media (max-width: 768px) {
    .item {
      gap: 4px;
    }
  }
  