.loader {
    display: inline-block;
    width: 40px;
}

.loader::after {
    margin: auto;
    content: ' ';
    display: block;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 3px solid var(--secondary-font-color);
    border-color: var(--secondary-font-color) transparent var(--secondary-font-color) transparent;
    animation: spin 1.2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  