.root {
    position: relative;
    width: 100%;
}
.input {
    padding: 20px 20px 0 20px;
    display: flex;
    justify-content: flex-start;
}
.label {
    z-index: 1;
    position: absolute;
    top: 18px;
    left: 24px;
    color:  var(--primary-font-color);
}
.errorMessage {
    position: absolute;
    font-size: 12px;
    color: var(--primary-error-color);
}

.labelOnFocus {
    z-index: 1;
    position: absolute;
    top: 8px;
    left: 20px;
    font-size: 12px;
    color:  var(--primary-font-color);
}

.isError {
    background-color: var(--secondary-error-color) !important;
}