.root {
    position: absolute;
    top: -104px;
    right: 120px;
    transition: .4s;
}

.rotate {
    transform: rotate(180deg);
    right: 176px;

}
.root path {
    transition: .4s;
}
.hover {
    cursor: pointer;
}
.hover:hover path {
    fill:  var(--third-color-red);
    box-shadow: 0 2px 24px 0px  var(--fourth-color-red);
}


@media (max-width: 1440px) {
    .root {
        right: 64px
    }
    .rotate {
        right: 120px
    }
}
  @media (max-width: 768px) {
    .root {
        right: 16px;
    }
    .rotate {
        right: 47px
    }
}