.button {
  background-color: var(--primary-color-red);
  height: 56px;
  width: fit-content;
  padding: 0 32px;
  border: 1px solid #0000;
  transition: all .4s;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  justify-content: center;
  display: flex
;
  align-items: center;
}
.button > p {
  letter-spacing: 0.7px;  
}

.button:hover {
  background-color: var(--third-color-red);
  cursor: pointer;
  box-shadow: 0 2px 24px 0px var(--fourth-color-red);
  border: 1px solid transparent;

}

.secondary {
  border: 1px solid #EC3F3FCC;
  background-color: var(--secondary-color-red);
}

.sizeS {
  height: 48px;
  padding: 0 32px;
}

@media (max-width: 768px) {
  .button {
    padding: 0 18px;
  }
}