.root h4 {
    width: 486px;
    margin-bottom: 40px;
}
.form {
    width: 486px;
    display: flex;
    flex-direction: column;
    gap: 32px;
    position: relative;
}
.form input {
    width: 100%;
    height: 56px;
    background-color: var(--secondary-color-gray) ;
    border:  none!important;
    box-shadow: none!important;
}
.form input:focus-visible {
    outline: none !important;
    background-color: var(--secondary-color-gray) ;
    border:  none!important;
    box-shadow: none!important;
}

.inputsBlock {
    display: flex;
    gap: 24px;
    justify-content: space-between;
}

.title {
    margin: 24px 0 48px 0;
  }
.submitButton {
    min-width: 185px;
}

@media (max-width: 1440px) {
    .form {
        width: 320px;
    }
    .submitButton {
        width: 100%;
    }
    .root h4 {
        width: 320px;
        margin-bottom: 24px;
    }
}

@media (max-width: 768px) {
  .item {
    gap: 4px;
  }
  .form {
    width: 100%;
}
.root h4 {
    width: 100%;
    margin-bottom: 32px;
}
}