.root {
    padding: 0px 72px 24px 120px;
}
.root h2 {
   margin-bottom: 40px;
}

.root p {
    color: #000;
}


@media (max-width: 1440px) {
    .root {
        padding: 0px;
    }

}
  @media (max-width: 768px) {
    .root h2 {
        margin-bottom: 24px;
     }

}
